# -----------------------------
# WASM build targets
# -----------------------------
core/executor/wasm/target/
core/test-runtime/wasm/target/
polkadot/runtime/wasm/target/
node/runtime/wasm/target/

# -----------------------------
# Rust / Substrate
# -----------------------------
**/target/
**/*.rs.bk
# ⚠️ Cargo.lock -> mantenlo versionado en apps, ignóralo solo en libs
# Cargo.lock

# Substrate WASM build artifacts
**/*.wasm
**/*.wat
**/*.contract
.wasm-binaries

# -----------------------------
# Node / JS / TS
# -----------------------------
**/node_modules/
node_modules/
dist/
*.log

# -----------------------------
# Docker / infra
# -----------------------------
.docker/
*.dockerfile
**/docker-compose.override.yml
.infra/data/
.infra/logs/
.infra/docker-compose.generated.yml

# -----------------------------
# OS / Editor
# -----------------------------
# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux / WSL
*.swp
*.swo
*.swx
*.swn

# VS Code
.vscode/
.history/
*.code-workspace

# JetBrains IDEs
.idea/
*.iml
*.tar

# -----------------------------
# Other temporary files
# -----------------------------
*.tmp
*.bak
*.old
*.orig

# -----------------------------
# Dev tools
# -----------------------------
.envrc
.direnv/
*.tar
